.card-cycling{
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);

}
#modal-content-cycling{
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    color:#fff;
}