h1,h2,h3,h4,h5,h6,p,th,td,span{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue","Open Sans",Arial,sans-serif;
  font-weight: 500;
}


.display-flex{
  display:flex;
}
.display-block{
  display:block;
}
.col-sm{
  padding-left:0;
  padding-right:0;
}
.add-margin{
  margin:15px;
}

.text-justified{
  text-align:justify;
}
.black-text{
  color:#000000;
}