.nav-item{
    width:25%;
    text-align:center;
}
.navbar-nav{
    width:100%;
}

.nav-item > a{
    color:#fff;
    font-size:1.5em;
}

.nav-item-mobile{
    width:20%;
    text-align:center;
}

.nav-item-mobile > a{
    color:#fff;
    font-size:1.5em;
}

.home-btn{
    color:#dddddd;
    font-size:1.5em;
}

.navbar{    
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav-btn-mobile{
    width:56px;
    height:56px;
    border: 2px solid #dddddd;
    border-radius:50%;
    padding: 0.5rem 0rem;
}