.nav-item{
    width:25%;
    text-align:center;
}
.navbar-nav{
    width:100%;
}

.nav-item > a{
    color:#fff;
    font-size:1.5em;
}

.home-btn{
    color:#fff;
    font-size:1.5em;
}

.navbar{    
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}